<html ng-app="app">

<head>
    <base href="/">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="controller/app.js"></script>
</head>

<body ng-controller="appCtrl">

    <div class="chat">
        <input type="text" ng-model="value">
        <textarea placeholder="Type your message"></textarea>

        <button ng-click="click()">Click me</button>
    </div>
    <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script>
        (function () {

            var getNode = function (s) {

                console.log(s)
                return document.querySelector(s);

            },
                textarea = getNode('.chat textarea')
            console.log(textarea)
            socket = io.connect('http://127.0.0.1:8080');

            socket.on('output', function (data) {
                console.log(data)
            });
            socket.on('status', function (data) {
            })

            textarea.addEventListener('keydown', function (event) {
                var self = this;
                if (event.which === 13 && event.shiftKey == false) {
                    socket.emit('input', {
                        //name: name,
                        message: self.value
                    });

                }
            });


        })();
    </script>
</body>

</html>