<html ng-app="app">
<head>
    <base href="/">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="controller/app.js"></script>
</head>
<body ng-controller="appCtrl">
    <div class="chat">
        <input type="text" ng-model="value"> 
        <button ng-click="click()">Click me</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>    
</body>
</html>
